
/*Group/Misc*/
/*whitefont*/
.whiteF{
    color:white
}

.flex-container{
    display:flex;
    flex-direction: column;
}

.quart{
    width:100%;
    flex:1;
}

button{
    background-color: #3882F6;
    border:none;
    text-decoration: none;
    color:white;
    font-size: 16px;
    padding:5px 10px;
    text-align:center;
    border-radius: 5px;
    
}

/*header*/
.headerBox{
    background-color: #1F2937;
    display: flex;
    height: 50px;
    flex-direction: row;
    
    
}

.logo{
    margin-top:15px;
    margin-left:200px;
    flex:1;
    color:white;
}

.groupLinks{
    margin-top:15px;
    margin-right:200px;
    gap:3px;
    display: flex;
    align-items: right;
}

.headerLink{
    margin-left:3px;
    margin-right:3px;
}

/*Section 1*/
.sec1{
    display:flex;
    flex-direction: row;
    background-color: #1F2937;
    
}

.main{
    margin-top:200px;
    margin-left:200px;
    margin-bottom: 100px;
    text-align: center;
}

.part1{
    margin-top:100px;
    flex:1;

}

.awesome{
    font-size: 48px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

.subtext{
    font-size:24px;
}

.signUp1{
    margin-top: 2px;
    margin-bottom: 30px;
}

.part2{
    margin-top: 100px;
    flex:1;
    align-items: right;
    display: flex;    

}

.placeholder{
    margin-right:200px;
    background-color: gray;
    padding:20px 50px;
    text-align: center;
    justify-content: center;
    height:75px;
    width:auto;
    flex:1;      
    
}

/*Section2*/
.sec2{
    background-color: white;
    display:flex;
    flex-direction: column;
       
}

.random{
    display: block;
    text-align: center;
    margin:20px;
    font-size: larger;
    color:#1F2937;
    font-weight:800;
}

.house{
    display: flex;
    flex-direction: row;
    margin-right:300px;
    margin-left:300px;
    margin-bottom:150px;
    justify-content: space-between;
}

.quad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration1{
    border:#3882F6 2px solid;
    border-radius:20px;
    padding: 20px;
    height:100px;
    width:100px;
    background-color: lightgray;
    margin: 2px;
}

.picText{
    text-align: center;
}

/*Section3*/
.sec3{
    background-color: lightgray;
    color:#1F2937;
    flex:1;
    height:375px;
    width:auto;

}

.quoteBox{
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
}

.quote{
    flex: 1;
    font-size:30px;
    font-style:italic;
    margin-top: 100px;
    
       
}

.author{
    display:block;
    margin-bottom:150px;
    font-weight:900;
    font-size: 25px;
    text-align:right;
    margin-right:375px;
    
}

/*Section4*/
.sec4{
    background-color: white;
    /*flex:1;*/
}

.action{
    display: flex;
    flex-direction: row;
    padding:40px;
    border-radius: 10px;;
    margin-top:120px;
    margin-left:22%;
    margin-right:22%;
    margin-bottom:120px;
    background-color: #3882F6;
}

.words{
    display: flex;
    flex-direction: column;
    flex:2;
}

.bold{
    flex:1;
    color:white;
    font-weight:bolder;
    font-size: 20px;
}

.wordsNorm{
    flex:1;
    color:white
}

.box2{
    flex:1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.button2{
    border:2px white solid;
    border-radius: 5px;
    padding:15px;
    font-size:20px;
    flex:1;
    
}

/*footer*/
.foot{
    
    width:100%;
    height: 50px;
    background-color: #1F2937;
    text-align: center;
    justify-content: center;
    
}